<html>
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  {{ entity_print_css }}
  <link rel="stylesheet" type="text/css" href="/modules/custom/e_envoice_cr/modules/invoice_email/css/pdf.css">
</head>
<body>
<div class="page">
  {{ base_path ~ directory }}
    {{ content }}
</div>
</body>
</html>
