.ui-datepicker {
  @include container-border($cb-orange, 1px, 3px);
  margin-top: $spacing--s;
  background-color: $c-white;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.ui-datepicker-header {
  background-color: $cb-orange;
}

.ui-datepicker-title {
  color: $c-white;
}

td[data-handler=selectDay] {
  a {
    text-align: center;
    &:hover {
      background-color: $cb-orange;
      color: $c-white;
    }
  }
}