.-prod {
  background-color: $c-gray--lightest;
  padding: $spacing--m;
  border-radius: 10px;
  margin: auto $spacing--l;

  .cot-ref {
    @include invoice-format($c-white, $cb-red, 10px);
  }
}
.prod-project-name {
  margin-top: 0;
  color: $c-purple;
}

.dis-ref {
  @include invoice-format($c-white, $cb-green, 10px);
  a {
    color: $c-white;
  }
}

.p-serial {
  @include invoice-format($c-white, $c-purple, 10px);
}

.first-section {
  margin-bottom: 1.5rem;
  .p-heading {
    @include invoice-format($c-white, $cb-green, 10px);
  }
}

.second-section {
  margin-bottom: 1.5rem;
  .p-heading {
    @include invoice-format($c-white, $c-grey-input-bg, 10px);
  }
  strong {
    margin-bottom: .5rem;
    display: block;
  }
}

.third-section {
  .p-heading {
    @include invoice-format($c-white, $c-purple, 10px);
  }
}

.p-body {
  @include invoice-format($c-gray--darkest, $c-white, 10px);
}
