# Ignore configuration files that may contain sensitive information.
settings.local.php
sites/default/settings.php
local.drushrc.php
local.aliases.drushrc.php
local.services.yml
tests/behat/local.yml
box/local.config.yml
*.local
project.local.yml
.htaccess


# Ignore paths that contain user-generated content.
sites/*/files
sites/*/files-private
sites/*/private

# Ignore contrib modules. These should be created during build process.
modules/contrib
themes/contrib
profiles/contrib
libraries
drush/contrib

# Ignore custom theme node_modules folders
themes/custom/*/node_modules
npm-debug.log
*node_modules*


#Composer vendor
vendor/
vendor/.git

#Sass
.sass-cache
*.css.map

# DrupalVM
.vagrant/


#Exports
*.gz
*.sql
*.zip


