.-invoice {
  background-image: url("../images/bg-cotizacion.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 100%;
  @include breakpoint($bp--medium){
    background-size: 40%;
  }

  .c-table-heading {
    @include invoice-format($c-white, $cb-red, 10px);
    margin: auto 15px 15px;
    min-height: 35px;
    overflow: auto;
    p {
      color: $c-white;
    }
  }

  .c-table-body {
    @include invoice-format($c-gray--darkest, $cb-gray, 10px);
    min-height: 35px;
    overflow: auto;
    margin: auto 15px;
  }

  .c-project-name,
  .c-anexo-header {
    margin-top: 0;
    color: $cb-red;
  }

  .c-number {
    padding: 7px;
    border-radius: 10px;
    color: $c-white;
    background: $cb-red;
    text-align: center;
  }

}

.header-image {
  padding: 30px;
  margin-bottom: $spacing--m;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 240px;

  h2 {
    display: inline-block;
    width: 45%;
    padding-bottom: $spacing--xs;
    border-bottom: solid 2px $c-white;
    color: $c-white;
    font-family: $fw--700;
  }

  ul {
    padding-left: 0;
    color: $c-white;
    li {
      font-size: 1rem;
    }
  }

}

.bill {
  margin-bottom: 1.5rem;
}

.-product {
  margin-bottom: 0;
  border-spacing: 0 15px;
  border-collapse: separate;
  @include breakpoint($bp--medium){
    margin-bottom: 290px;
    border-spacing: 0 5px;

  }

  tr {
    background: $cb-gray;
    &:nth-child(odd) {
      background: $cb-gray;
    }

    &:first-child {
      background: $cb-red;
      color: $c-white;
    }
  }
  th {
    padding: 10px;
    font-weight: normal;
    &:first-child {
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
    }
    &:last-child {
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
    }
  }
  td {
    &:first-child {
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
    }
    &:last-child {
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
    }
  }
}

.c-observaciones {
  margin-bottom: 1rem;
  padding: 10px;
  min-height: 87px;
  border-radius: 10px;
  background: $cb-gray;
  strong {
    color: $cb-red;
  }
}

.c-amount-container {
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 10px;
  background: $cb-red;
  @include breakpoint($bp--medium){
    min-height: 85px;
  }
  ul {
    padding-left: 0;
  }
  li {
    color: $c-white;
    span {
      float: right;
    }
  }
}

.-invoice {
  min-height: 550px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
