{#
/**
 * @file invoice_entity.html.twig
 * Default theme implementation to present Invoice data.
 *
 * This template is used when viewing Invoice pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_invoice_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('invoice_entity') }}>
  mauuuu
  {% if elements %}
    {{- elements -}}
    <table border="0" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th class="desc">Descripción</th>
          <th class="qty">Cantidad</th>
          <th class="unit">Precio Unitario</th>
          <th class="total">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="desc"><h3>Website Design</h3>Creating a recognizable design solution based on the company's existing visual identity</td>
          <td class="qty">30</td>
          <td class="unit">$40.00</td>
          <td class="total">$1,200.00</td>
        </tr>
      </tbody>
    </table>
  {% endif %}
</div>
