.views-exposed-form {
  .form-item {
    width: 100%;
    @include breakpoint($bp--medium) {
      display: inline-block;
      width: 48%;
      margin-right: 15px;
      &:nth-child(even){
        margin-right: 0;
      }
    }
    @include breakpoint($bp--large) {
      width: 30%;
      margin-right: 30px;
      &:nth-child(even){
        margin-right: 30px;
      }
    }
    &:first-child {
      vertical-align: top;
    }
  }
}