.node-cotizacion-edit-form,
.node-cotizacion-form {
  input {
    &:not([type=submit])
    &:not([type=button]) {
      width: 100%;
    }
  }
  .select2-container {
    width: 100% !important; /* stylelint-disable-line declaration-no-important */
  }
  .js-form-wrapper {
    .field--name-field-x {
      width: 100%;
      @include breakpoint($bp--medium) {
        display: inline-block;
        width: 29%;
        margin-right: 2%;
        vertical-align: top;

      }
    }
  }
  .field-suffix {
    display: none;
  }
}

// first section wrapper
.c-first {
  .callout {
    display: none;
  }
  > div {
    width: 100%;
    display: block;
    @include breakpoint($bp--medium) {
      display: inline-block;
      vertical-align: top;
    }
    &:first-child {
      width: 100%;
      @include breakpoint($bp--medium) {
        width: 47%;
        margin-right: 2%;
      }
      @include breakpoint($bp--large) {
        width: 30%;
      }
    }
    &:nth-child(2) {
      width: 100%;
      @include breakpoint($bp--medium) {
        width: 49%;
      }
      @include breakpoint($bp--large) {
        width: 64%;
      }
      > .form-item,
      #dropdown-second-replace { /* stylelint-disable-line selector-max-specificity */
        width: 100%;
        @include breakpoint($bp--medium) {
          width: 45%;
          display: inline-block;
        }
        @include breakpoint($bp--large) {
          width: 47%;
        }
      }
      > .form-item {
        margin-right: 2%;
        @include breakpoint($bp--large) {
          margin-right: 3%;
        }
      }
    }
  }
}

// second section wrapper
.c-second {
  > .form-wrapper {
    display: block;
    width: 100%;
    @include breakpoint($bp--medium) {
      display: inline-block;
      width: 47%;
      margin-right: 2%;
      vertical-align: top;
    }
    @include breakpoint($bp--large) {
      width: 30%;
    }
  }
}

.table-producto {
  .draggable {
    background-color: aliceblue;
  }
  tbody {
    td {
      background-color: aliceblue;
    }
  }
}

.table-observaciones {
  .draggable {
    textarea {
      width: auto;
    }
  }
}

table[data-drupal-selector=edit-table] { /* stylelint-disable-line selector-no-id */
  td {
    width: 33%;
    @include breakpoint($bp--medium-down) {
      vertical-align: baseline;
    }
  }
}


// hides duplicate table headings
.producto-paragraph {
  thead {
    display: none;
  }
}

a.print__link--pdf {
  @include button-variant($c-white, $c-info, $c-info-active);
  @include button-size(6px, 12px, $fs--s, 20px, 10px);
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  @include breakpoint($bp--large){
    margin-bottom: 0;
  }
}