@mixin list(){
  margin-bottom: $spacing--s;
  list-style: none;
  color: $c-body;
  font-size: $fs--s;
  font-weight: $fw--400;
}

ul, ol {
  @include list();
}

nav {
  li {
    display: inline-block;
  }
}