.invoice-entity-form fieldset {
  padding: 5px;
  border: 1px solid #eee;
}
.invoice-entity-form .table-rows fieldset {
  padding: 0;
  border: 0;
}
.group-first,
.group-second,
.group-third,
.group-fourth {
  float: left;
  width: 25%;
  min-width: 192px;
}
.group-first > legend,
.group-second > legend,
.group-third > legend,
.group-fourth > legend {
  width: 100%;
  padding: 10px 10px;
  background: #eee;
}
.group-discount {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}
.group-discount legend {
  display: none;
}
.group-first .fieldset-wrapper,
.group-second .fieldset-wrapper,
.group-third .fieldset-wrapper,
.group-fourth .fieldset-wrapper {
  min-height: 237px;
  padding: 0 10px;
  border-right: 2px solid #eee;
}
.group-fourth .fieldset-wrapper {
  border-right: 0;
}
.group-discount .fieldset-wrapper {
  min-height: inherit;
  padding: 0 10px;
  border-right: 0;
}
.field--name-field-total-amount {
  display: none;
}
.field--name-field-quantity {
  width: 25%;
  float: left;
  margin-right: 10%;
}
.field--name-field-unit-price {
  width: 65%;
  float: left;
}
.field--name-field-detail input[type=text],
.field--name-field-detail textarea {
  height: 65px;
}
.table-rows.field-multiple-table {
  box-shadow: none;
}
.table-rows > thead tr th {
  border-bottom: 0;
}
.table-rows .field--name-field-add-discount label {
  display: initial;
  color: black;
}
.table-rows thead {
  border: 0;
  box-shadow: none;
}
.table-rows tr {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  border: solid 1px #f4f4f4;
  border-radius: 5px;
}
.table-rows thead tr {
  margin-bottom: 0;
}
.table-rows td.field-multiple-drag {
  display: inline-block;
  border-bottom: 0;
}
.table-rows .paragraph-type-title {
  display: none;
}
.table-rows .paragraph-type-top {
  position: absolute;
  top: 5px;
  right: 10px;
}
.table-rows input[type=text],
.table-rows input[type=number],
.table-rows select {
  border-radius: 5px;
  margin-bottom: 15px;
}
.table-rows .select2-container .select2-selection--single {
  border-radius: 5px !important;
}
.table-rows label {
  display: block;
  font-weight: 300;
  color: #999999;
}
.table-rows .group-fourth label {
  font-weight: 300;
  color: black;
}
@media (max-width: 767px) {
  .group-first,
  .group-second,
  .group-third,
  .group-fourth {
    width: 100%;
  }
}
