.field--name-field-code-type,
.field--name-field-code,
.field--name-field-quantity,
.field--name-field-unit-price {
  display: inline-block;
  width: 25%;
}
.field--name-field-row-type {
  display: inline-block;
}
.field--name-field-code {
  margin-right: 10%;
}
.field--name-field-detail {
  margin-bottom: 10px;
}
.field--name-field-total-amount,
.field--name-field-row-tax,
.field--name-field-subtotal,
.field--name-field-line-total-amount,
.field--name-field-row-discount {
  width: 54%;
  float: right;
  margin-bottom: 10px;
  text-align: right;
}
.field--name-field-total-amount div {
  float: right;
}
.field--name-field-discount div {
  float: right;
}
.field--name-field-row-discount div {
  float: right;
}
.field--name-field-subtotal div {
  float: right;
}
.field--name-field-line-total-amount div {
  float: right;
}
.field--name-field-total-amount label {
  display: inline-block;
}
.field--name-field-row-tax label {
  display: inline-block;
}
.field--name-field-row-tax select {
  width: 179px;
}
.field--name-field-row-discount label {
  display: inline-block;
}
.field--name-field-subtotal label {
  display: inline-block;
}
.field--name-field-line-total-amount label {
  display: inline-block;
}
.field--name-field-unit-measure {
  display: inline-block;
  width: 35%;
  margin-top: 15px;
}
.field--name-field-another-unit-measure,
.field--name-field-discount-percentage {
  margin-bottom: 10px;
}
.field--name-field-discount-reason {
  float: left;
}
.field--name-field-add-discount {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #b8b8b8;
}

.invoice-reference-information .field--name-ref-type-of,
.invoice-reference-information .field--name-ref-doc-key,
.invoice-reference-information .field--name-ref-date,
.invoice-reference-information .field--name-ref-code {
  display: inline-block;
}
