.field--name-field-tipo, .field--name-field-codigo, .field--name-field-cantidad, .field--name-field-preciounitario {
  display: inline-block;
  width: 20%;
}
.field--name-field-codigo {
  margin-right: 10%;
}
.field--name-field-detalle {
  margin-bottom: 10px;
}
.field--name-field-montototal, .field--name-field-impuesto, .field--name-field-subtotal, .field--name-field-monto-total-linea {
  width: 80%;
  float: right;
  margin-bottom: 10px;
  text-align: right;
}
.field--name-field-montototal div {
  float: right;
}
.field--name-field-descuento div {
  float: right;
}
.field--name-field-subtotal div {
  float: right;
}
.field--name-field-monto-total-linea div {
  float: right;
}
.field--name-field-montototal label {
  display: inline-block;
}
.field--name-field-impuesto label {
  display: inline-block;
}
.field--name-field-impuesto select {
  width: 179px
}
.field--name-field-subtotal label {
  display: inline-block;
}
.field--name-field-monto-total-linea label {
  display: inline-block;
}

