.first-table td {
  color: #999999;
}
.first-table tr {
  border-bottom: 0;
  height: 160px;
}
.invoice-info {
  text-align: right;
}
.contact-info {
  text-align: right;
}
.background-gray {
  background: #999999;
  color: #ffffff;
}
.contact-info div {
  display: inline-block;
  padding: 10px;
}
.contact-info .circle {
  margin-right: 5px;
  padding: 5px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
}
.contact-info .circle img {
  max-width: 18px;
  height: 15px;
  vertical-align: text-bottom;
}
.content-right {
  text-align: right;
}
.company-info {
  color: #3f3f3f;
  font-weight: 200;
  font-size: 12px;
}
.company-info .main-name {
  color: #999999;
  font-weight: 400;
  font-size: 18px;
}
.customer-info {
  color: #3f3f3f;
  font-size: 12px;
}
.customer-info .customer-name {
  color: #999999;
}
.field-group .field-label,
.field-group .field-value {
  display: inline-block;
  color: #3f3f3f;
  font-size: 12px;
}
.invoice-num .field-label {
  font-size: 20px;
  color: #999999;
}
.invoice-num .field-value {
  font-size: 20px;
  color: #df0707;
}
.pdf-only {
  display: none;
}
.sum-table .sum-field-label {
  text-align: right;
}
.sum-table .sum-field-value {
  text-align: right;
  width: 130px;
  text-align: right;
}
.rows-table th {
  background: #999999;
  color: #ffffff;
  padding: 2px 10px;
  border-right: 4px solid;
}
.rows-table td {
  color: #3f3f3f;
}
.sum-table td {
  color: #3f3f3f;
}

.sum-field-label,
.sum-field-value {
  font-size: 16px;
  text-transform: uppercase;
}
.small-text .sum-field-label,
.small-text .sum-field-value {
  font-size: 14px;
}
.big-text .sum-field-label,
.big-text .sum-field-value {
  font-size: 20px;
  color: black;
}
.field--name-field-rows > .field__label {
  display: none;
}
.invoice_entity h2 {
  color: #999999;
  margin: 28px 0;
  font-size: 24px;
  text-align: center;
}
