$c-red: hsl(352, 92%, 38%); // Primary Color. Used for links
$c-blue: hsl(208, 100%, 50%);

// Branding
$cb-yellow: #FBDD29;
$cb-orange: #44BB8B;
$cb-orange-light: #F08033;
$cb-red: #2a7a5a;
$cb-green: #009A8B;
$cb-gray: rgba(96, 96, 96, 0.15);
$cb-gray-medium: #606060;


// Links
$c-link: #337ab7;
$c-link-active: #72afd2;

// Primary
$c-primary: #44BB8B;
$c-primary-active: #2a7a5a;

// Info
$c-info: #009A8B;
$c-info-active: #007469;

// Success
$c-success: #00a65a;
$c-success-active: #008d4c;

// Warning
$c-status: #00c0ef;
$c-status-active: #0097bc;

// Warning
$c-warning: #f39c12;
$c-warning-active: #db8b0b;

// Danger
$c-danger: #dd4b39;
$c-danger-active: #d33724;

// Greyscale
$c-grey: #d2d6de;
$c-grey-active: #b5bbc8;
$c-grey-darker: #111;
$c-black: #000;

// Navy
$c-navy: #001f3f;
$c-navy-active: #001a35;

// Teal
$c-teal: #39cccc;
$c-teal-active: #30bbbb;

// Purple
$c-purple: #605ca8;
$c-purple-active: #555299;

// Orange
$c-orange: #ff851b;
$c-orange-active: #ff7701;

// Maroon
$c-maroon: #d81b60;
$c-maroon-active: #ca195a;


$c-white: white;
$c-gray--lightest: #f4f4f4;
$c-gray--lighter: #ccc;
$c-gray--light: hsl(0, 0%, 60%);
$c-gray: hsl(0, 0%, 48%);
$c-gray--dark: hsl(0, 0%, 40%);
$c-grey-input: #555;
$c-grey-input-bg: #374850;
$c-gray--darker: hsl(0, 0%, 20%);
$c-body: #333;
$c-gray--darkest: hsl(0, 0%, 16.1%);
$c-black: black;

// Others
$c-grey-table: #f9f9f9;
$c-input-disabled: #eee;
$c-content-bg: #ecf0f5;
$c-sidebar-bg: #222d32;
$c-sidebar-color: #b8c7ce;
$c-sidebar-active: #1e282c;
$c-description-help: #737373;
$c-gray-sidebar: #2c3b41;
