.callout,
.messages {
  padding: 15px 30px 15px 15px;
  margin: 0 0 20px 0;
  border-radius: 3px;
  color: $c-white;
  transition: 1s all;
  a, li, p {
    text-decoration: underline;
    font-style: italic;
    color: $c-white;
  }
}

div[aria-label~="Error"] {
  border-left: 5px solid $c-danger-active;
  background-color: $c-danger;
}

div[aria-label~="Warning"],
.messages--warning {
  border-left: 5px solid $c-warning-active;
  background-color: $c-warning;
}

div[aria-label~="Status"] {
  border-left: 5px solid $c-success-active;
  background-color: $c-success;
}