.fieldset-wrapper {
  &.fecha {
    .field-item {
      display: inline-block;
      &:first-child {
        margin-right: 10px;
        width: 52%;
      }
      &:last-child {
        width: 42%;
      }
    }
  }
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}