.node-represe-form,
.node-represe-edit-form {
  .description {
    margin-bottom: 0;
  }
  @include breakpoint($bp--medium){
    .field--name-title,
    .field--name-field-cliente-ref,
    .field--name-field-departamento,
    .field--name-field-puesto,
    .field--name-field-email,
    .field--name-field-telefono,
    .field--name-field-extension {
      display: inline-block;
      width: 45%;
      margin-right: 2%;
      vertical-align: top;
    }
  }

  @include breakpoint($bp--large){
    .field--name-title,
    .field--name-field-cliente-ref,
    .field--name-field-departamento,
    .field--name-field-puesto,
    .field--name-field-email,
    .field--name-field-telefono,
    .field--name-field-extension {
      width: 30%;
    }
  }
}