.profile-menu {
  display: inline-block;
  float: right;
  transition: transform .3s ease-in-out,margin .3s ease-in-out;
  nav {
    padding: 15px;
    a {
      color: $c-white;
    }
  }
}

.current-user,
.session-status {
  margin-right: 10px;
}

.user-not-logged-in {
  .block-page {
    display: none;
  }
}
