.euro-login {
  @include container-border($cb-green, 3px, 3px);
  padding: 15px;
  min-height: 100vh;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background: $c-white;

  ul {
    padding-left: 0;
    @include breakpoint($bp--medium){
      padding-left: auto;
    }
    li {
      margin-bottom: 10px;
      text-align: center;
      @include breakpoint($bp--medium){
        text-align: left;
      }
    }
  }

}