.d-project-name {
  margin-top: 0;
  color: $cb-green;
}

.d-item {
  display: block;
}

.d-serial {
  @include invoice-format($c-white, $cb-green, 10px);
}

.d-serial,
.cot-ref {
  text-align: center;
  a {
    color: $c-white;
  }
}

.first-section {
  .d-heading {
    @include invoice-format($c-white, $cb-red, 10px);
  }
}

.second-section {
  .d-heading {
    @include invoice-format($c-white, $cb-green, 10px);
  }
  strong {
    margin-bottom: .5rem;
    display: block;
  }
}

.d-body {
  @include invoice-format($cb-gray-medium, $cb-gray, 10px);
  a {
    display: block;
  }
}

.d-observaciones,
.d-description {
  min-height: 87px;
}
