.top-menu {
  min-height: 50px;
  padding-left: 0;
  margin: 0;
  transition: transform .3s ease-in-out, width .3s ease-in-out;
  @include breakpoint($bp--medium){
    min-height: auto;
    margin-left: 230px;
  }

  li {
    display: inline-block;
    height: 50px;
    @include breakpoint($bp--medium){
      display: inline-block;
      height: auto;
      width: auto;
    }
    a {
      display: inherit;
      padding: 15px;
      color: $c-white;
      text-align: center;
      @include breakpoint($bp--medium){
        display: block;
        width: auto;
      }
    }
  }
  .sidebar-toogle {
    &:before {
      margin-left: 15px;
      color: $c-white;
      font-family: $ff--icons;
    }
  }
}

.sidebar-open {
  .top-menu {
    transform: translateX(230px);
  }
}

.main-top-menu {
  display: inline-block;
}