.ui-accordion {
  .ui-accordion-header {
    @include container-border($c-gray--lightest, 3px, 3px);
    border-left: solid 1px rgba(0,0,0,0.1);
    border-bottom: solid 1px rgba(0,0,0,0.1);
    border-right: solid 1px rgba(0,0,0,0.1);
    outline: none;
    margin-bottom: 1rem;
    transition: all 1s;
    &[aria-expanded="true"] {
      margin-bottom: 0;
    }
    &:active,
    &.ui-state-active
    {
      border-top: solid $c-info-active 3px;
    }
  }
  .ui-accordion-content {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    &[aria-hidden="false"] {
      margin-bottom: 1rem;
    }
    @include breakpoint($bp--medium-down){
      padding: 1rem 0;
      box-shadow: 0 1px 1px rgba(0,0,0,0);
    }
  }
}

.ui-state-active {
  background-color: $cb-green;
  h3 {
    a {
      color: $c-white;
    }
  }
}