{%

set label_classes = [
'field-group-format-toggler',
'accordion-item',
open ? 'field-group-accordion-active',
]

%}

{%
set classes = [
'field-group-format-wrapper',
'toggler-body'
]
%}

<div class="toggler-container">
  <h3 {{ label_attributes.addClass(label_classes) }}>
    <a href="#">{{ title }}</a>
  </h3>
</div>
<div {{ attributes.addClass(classes) }}>
  {% if description %}<div class="description"></div>{% endif %}
  {{children}}
</div>